* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1460px;
    padding: 0 30px;
    margin: 0 auto;
}


.mini-header {
    background-color: #f9f8f6;
}

.mini-header__wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b8a4a8;
}

.header-location {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-location:hover {
    color: #a3836b;
}

.header-location__icon {
    margin: 0 2px;
    width: 12px;
    height: 12px;
}

.header-location__text {
    font-size: 12px;
    margin: 0 2px;
}

.mini-header__list {
    display: flex;
    list-style: none;
}

.mini-header__item {
    line-height: 14px;
}

.mini-header__link {
    text-decoration: none;
    font-size: 12px;
    margin: 0 8px;
    color: #b8a4a8;
}

.mini-header__link:hover {
    color: #a3836b;
}

.mini-header__contact {
    display: flex;

}

.mini-header__tel, .mini-header__time {
    text-decoration: none;
    font-size: 12px;
    margin: 0 3px;
    color: #b8a4a8;
}

.mini-header__tel:hover, .mini-header__time:hover {
    color: #a3836b;
}


.main-header {
    border-bottom: 1px solid #eeeeee;
}

.main-header__wrapper {
    display: flex;

}

.main-header__wrapper > * {
    padding: 15px 15px;
    flex-grow: 1;
}

.main-header__wrapper > *:not(:last-child) {
    border-right: 1px solid #eeeeee;
}

.main-header__logo {
    font-weight: bold;
    font-size: 30px;
    display: flex;
}
.main-header__logo p {
    margin: auto;
}

.main-header__search {
    display: flex;
    align-items: center;
}

#main-header__btn {
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee ;
    cursor: pointer;
    display: flex;
    margin: 0 10px;
}

#main-header__btn img {
    width:20px;
    height:20px;
    margin: auto;
}

#main-header__input {
    margin: 0 10px;
    padding: 15px 0;
    border: none;
    outline: none;
    font-size: 20px;
}

.main-header__login {
    display: flex;
}

.main-header__login a {
    margin: auto;
    background-color: #fdcb6e;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color:#654d3e;
    font-size: 16px;
    font-weight: bold;
}

.main-header__likes {
    display: flex;
}

.main-header__likes a {
    margin: auto;
}

.main-header__likes a img {
    width: 25px;
    height: 25px;
    margin: auto;
}


.header-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-cart__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.category-header__wrapper {
    padding: 10px 50px;
}

.category-header__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

}

.category-header__link {
    text-decoration: none;
    padding: 0 5px;
    text-transform: uppercase;
    color: #3b3b40;
    font-size: 14px;
}


.category-header__link:hover {
    color: #a3836b;
}

.category-header__link--sale {
    display: flex;
}

.category-header__link--sale > * {
    margin: 0 7px;
}

.category-header__icon {
    width: 20px;
    height: 20px;
}

.banner_link {
    margin-top: 10px;
    display: flex;
    height: 140px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,219,148,1) 100%);
    text-decoration: none;
}

.banner__text {
    color: #fff;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
}

.headPage {
    padding: 15px 0;
}

.breadcrumbs__list {
    list-style: none;
    display: flex;
}

.breadcrumbs__item {
    position: relative;
    color: rgba(59,59,56,.5);
    font-size: 12px;
    margin: 10px;
}

.breadcrumbs__item:first-child {
    margin-left: 0;
}

.breadcrumbs__item:not(:first-child)::before {
    content: '|';
    position: absolute;
    display: block;
    top: -10px;
    left: -13px;
    margin: 8px 0;
    height: 100%;
    width: 1px;
    color: #e8e8e8;
}

.breadcrumbs__link {
    text-decoration: none;
    color: rgba(59,59,56,.5);
    font-size: 12px;
}

.headPage__title {
    color: #3b3b38;
    font-weight: bold;
}

.main_books {
    display: flex;
    border-top: 1px solid #eeeeee;
}

.main_books__categories {
    width: 25%;
    border-right: 1px solid #eeeeee;
}

.category:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.category__visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.category__hidden {
    padding: 5px 50px;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease;
}

.category-hidden__list {
    list-style: none;
}
.category-hidden__element {
    margin: 5px 0;

}
.category-hidden__link {
    text-decoration: none;
}
.category-hidden__text {
    color: #3b3b38;
    cursor: pointer;
    margin-right: 5px;
}
.category-hidden__text:hover{
    color: #a3836b;
}
.category-hidden__count {
    color: #a3836b;
    cursor: pointer;
}
.category__text {
    color: #3b3b38;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.category__text:hover {
    color: #a3836b;
}

.category__icon {
    width: 20px;
    height: 20px;
    cursor: pointer ;
}

.main_books__book-list {
    width: 75%;
}

.book-list__content {
}

.content-title {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.content-title__subtitle {
    text-transform: uppercase;
    color: rgba(59,59,56,.5);
    font-size: 12px;
    letter-spacing:5px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-title__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #3b3b38;
}

.content-filters {
    display: flex;
    border-bottom: 1px solid #eeeeee;
}

.content-filters__filter {
    flex-grow: 1;
}

.content-filters__filter:not(:last-child) {
    border-right: 1px solid #eeeeee;
}

.content-filters__filter:hover:not(.content-filters__filter--price) {
    background-color: rgba(0, 0, 0, .05);
}

.content-filter {
    padding: 20px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content-filters__filter--price {
    padding: 20px 30px;
}

.content-filter__icon {
    width: 20px;
    height: 20px;
}

.book-list__books {
    display: flex;
    flex-wrap: wrap;
}

.books__card {
    width: 25%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.books__card:hover {
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
}

.book-card {
    position: relative;
    border: 1px solid #eeeeee;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}


.book-card__tag {
    position: absolute;
    left: 10px;
    top:10px;
    width: 20px;
    height: 10px;
    background-color: yellow;
}

.book-card__img {
    width: 70%;
    margin: 5px auto;
}

.book-card__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.book-card__rating {
    margin: 5px 0 20px 0;

}


.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 15px;
    height: 15px;
    background-color: yellow;
    margin-right: 5px;
}



.book-card__rating {
    display: flex;
}

.book-card__name {
    text-decoration: none;
    font-size: 15px;
    color: #3b3b38;
    margin: 5px 0;
}

.book-card__name:hover {
    color: #a3836b;
    cursor: pointer;
}

.book-card__author {
    color: rgba(59,59,56,.5);
    font-size: 13px;
    margin-bottom: 10px;
}

.book-card__price {
    font-size: 18px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.book-card__btns {
    display: flex;
    background-color: #fff;
    align-self: flex-end;
}

.book-card__btns > * {
    margin: 5px;
    border: 1px solid #eeeeee;
    border-radius: 7px;
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
}

.book-card__btns > *:hover {
    background-color: #eeeeee;
    outline: none;
}

.book-card__like-btn img{
    width: 25px;
    height: 25px;
}

.book-card__cart-btn img {
    width: 24px;
    height: 24px;
}

.footer {
    height: 20px;
    background-color: #a3836b;
}